<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cnki.mapper.TeacherVariableMapper">
    <resultMap id="BaseResultMap" type="net.cnki.bean.TeacherVariable">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <result column="parentId" property="parentId" javaType="INTEGER"/>
        <collection property="children" ofType="net.cnki.bean.TeacherVariable">
            <id column="id2" property="id"/>
            <result column="name2" property="name" jdbcType="VARCHAR"/>
            <collection property="children" ofType="net.cnki.bean.TeacherVariable">
                <id column="id3" property="id"/>
                <result column="name3" property="name" jdbcType="VARCHAR"/>
                <collection property="children" ofType="net.cnki.bean.TeacherVariable">
                    <id column="id4" property="id"/>
                    <result column="name4" property="name" jdbcType="VARCHAR"/>
                </collection>
            </collection>
        </collection>

    </resultMap>
    <select id="tableTree" resultMap="BaseResultMap">
            select t1.`id`,t1.`name`,t2.`id` as id2,t2.`name` as name2,t3.`id` as id3,t3.`name` as name3,
             t4.`id` as id4,t4.`name` as name4
            from teacherVariable t1, teacherVariable t2,teacherVariable t3,teacherVariable t4
            where t1.`id`=t2.`papentId` and t2.`id`= t3.`papentId` and t3.`id` = t4.`papentId`
        </select>

</mapper>